{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Medimap : Record Your Training Medical Institution   </p>
    <p class="box">
      <i class="fa-solid fa-house-medical" style="color:darkorange"></i> 
      <i class="fa-solid fa-comment-medical" style="color:deepskyblue"></i> 
      <i class="fa-solid fa-truck-medical" style="color:gold"></i> 
    </p>
  </div>
</section>
