{{> menu}}

<section class="section">
  <div class="title">
    {{institution.title}}
  </div>
  <div class="title">
    {{institution.eircode}}
  </div>

  {{> list-departments}}
  {{> add-department}}
</section>
