{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <figure class="image is-16by9 is-responsive">
      <img src="/images/hospital.jpeg" alt="Hospital Image">
    </figure>
  </div>
</div>