<form action="/dashboard/addinstitution" method="POST">
  <div class="field">
    <label class="label">Institution Title</label> <input class="input" type="text" placeholder="Enter institution title" name="title">
  </div>
  <div class="field">
    <label class="label">Institution Eircode</label> <input class="input" type="text" placeholder="Enter institution eircode" name="eircode">
  </div>
  <button class="button is-link">Add Institution</button>
</form>
